---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Dr. Stephen Tate">
  <div class="mx-2">
  <h3 class="mt-3">Bio</h3>
  <p>
  I retired from full-time faculty work in 2025, from my final position as a Professor in the <a href="https://compsci.uncg.edu">Department of Computer Science</a> at the University of North Carolina at Greensboro. I came to UNCG in 2007 to start the Department of Computer Science, as the computer science programs (bachelor's and master's) were splitting from the former Department of Mathematical Sciences, and I served as Department Head until 2019. I served for one year (2023-2024) as Department Head in UNCG's <a href="https://mathstats.uncg.edu/">Department of Mathematics and Statistics</a>. I have bachelor's degrees in Computer Science, Electrical Engineering, and Mathematics from Vanderbilt University. I received my Ph.D. in Computer Science from Duke University in 1991, followed by a 2 year postdoc working on data compression algorithms for NASA.
  </p>
  <p>Before joining UNCG, I was on the faculty at The University of North Texas for 14 years, in what was originally the Department of Computer Science and later became the Department of Computer Science and Engineering. At UNT I created and directed the Center for Information and Computer Security, which won recognition by the National Security Agency and the Department of Homeland Security as a National Center of Academic Excellence in Information Assurance Education. At UNT I also served as Director of Graduate Studies from 1996 to 2001, managing the department's masters and doctoral programs.</p>
  
<p>I have had the privilege of being part of both the Theoretical
Computer Science and Computer Security research communities, as well
as the cross-over area of Cryptography. I chaired some of the top
conferences in each area, including being co-chair of the 1998
<i>Symposium on Theory of Computing</i> (STOC) and chair of the 2004
<i>IEEE Symposium on Security and Privacy</i>. Specific areas that I
have worked and published in include cryptography, computer/system
security, algebraic algorithms, circuit complexity, online algorithms,
data compression, and computer science education.  </p>

<p>For more information on my teaching and research, see the website
navigation links, or you can view my <a href="/Tate-Vita.pdf">full vita</a>.</p>

</div>
  
</Layout>
