---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Contact Info | Dr. Stephen Tate">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">About Steve</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        I am a Professor in the Department of Computer Science at the University of North Carolina at Greensboro. I came to UNCG in 2007 to start the Department of Computer Science, as the computer science programs (bachelor's and master's) were splitting from the former Department of Mathematical Sciences, and I served as Department Head until 2019. I have bachelor's degrees in Computer Science, Electrical Engineering, and Mathematics from Vanderbilt University. I received my Ph.D. in Computer Science from Duke University in 1991, followed by a 2 year postdoc working on data compression algorithms for NASA.
      </p>
      <p class="text-lg mb-6">
        Before joining UNCG, I was on the faculty at The University of North Texas for 14 years, in what was originally the Department of Computer Science and later became the Department of Computer Science and Engineering. At UNT I created and directed the Center for Information and Computer Security, which won recognition by the National Security Agency and the Department of Homeland Security as a National Center of Academic Excellence in Information Assurance Education. At UNT I also served as Director of Graduate Studies from 1996 to 2001, managing the department's masters and doctoral programs. In addition to my current work in software security, I have worked and published in several other areas, including cryptography, computer security, algebraic algorithms, circuit complexity, online algorithms, and data compression, with papers appearing in many leading conferences and journals.
      </p>
    </div>


  </div>
</Layout>
