---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import Publication from "../components/Publication.astro";

const pageTitle = "Test Paper";
const allPosts = await getCollection('papers');
allPosts.sort((a, b) => b.data.sort - a.data.sort);
---
<Layout pageTitle={pageTitle}>
  <h2 style="padding-top:34px;">Publications</h2>
  <ol>
    {
      allPosts.map((pub: { id: any; data: any; }) => (
        <li style="margin:10px;"> <Publication data={pub.data} url={`/pubs/${pub.id}/`} /></li>
      ))
    }
  </ol>
</Layout>
