---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Research | Dr. Stephen Tate">
  <h3 class="mt-5">Research</h3>
  <p>
  I've been doing research in computer science for over 30 years, and I have done work in a wide range of areas, including complexity theory, algorithms, data compression, computer security, and cryptography. Currently I work on ways to make security and cryptographic software more reliable, robust, and secure. I am particularly interested in how to find vulnerabilities in large codebases, and have recently done work to enable large-scale static analysis of complex, inter-dependent software packages. This work, as well as my earlier work in other areas, can be found in my publications.
  </p><p>
  As I am phasing in to retirement now, I am no longer taking new students or actively creating new projects. I still find this work fascinating and fun, and enjoy working toward solutions to algorithmic and security problems. Feel free to contact me if you have questions about my work, or are interested in finding a research collaborator in these areas.  
  </p>
</Layout>
