---
import Layout from "../layouts/Layout.astro";

import ClassList from "../components/ui/ClassList.astro";
---

<Layout title="Teaching | Dr. Stephen Tate">
  <div>
    <h3 class="mt-5">Teaching</h3>

    <div>
      <p class="fs-5">
        Class websites for current and past classes are available here.
      </p>
    </div>

    <ClassList listTitle="Class Websites" listItems={[
      {
        title: "CSC 452/652/752: Theory of Computation",
        classnum: "452",
        semesters: [ "s25", "f24", "s20" ],
        description: "Finite state automata and regular expressions, context-free grammars, push-down automata and their use in parsing, overview of language translation systems, models for programming language semantics, computability and undecidability."
      },
      {
        title: "CSC 481/681: Principles of Computer Security",
        classnum: "481",
        semesters: [ "s25", "s24", "s23", "f21", "f20", "f19" ],
        description: "Core concepts in computer security, including the security goals of confidentiality, integrity, and availability; authentication; access control; secure software development; use of cryptography; and basic network security."
      },
      {
        title: "CSC 485/685: Modern Cryptography",
        classnum: "485",
        semesters: [ "f23" ],
        description: "Theory and practice of cryptography, emphasizing formal models and security reasoning. Primitives covered include private and public-key encryption, message authentication codes, hash functions, digital signatures, secret sharing, and zero-knowledge proofs."
      },
      {
        title: "CSC 362: System Programming",
        classnum: "362",
        semesters: [ "s23", "f21", "s21" ],
        description: "System programming with emphasis on processes, memory management, multithreaded programming, synchronization and deadlocks, interprocess communication, parallel and distributed computing, networking, files systems, security, signals, and virtualization containers.",
      },
      {
        title: "CSC 454/654: Algorithms Analysis and Design",
        classnum: "454",
        semesters: [ "s22", "s21", "s20" ],
        description: "Sequential algorithm design and complexity analysis. Dynamic programming. Greedy algorithms. Graph algorithms. Selected advanced topics from NP-completeness; approximation, randomized, parallel, number-theoretic algorithms; Fast Fourier Transform; computational geometry; string matching.",
      },
      {
        title: "CSC 495/693: Software Security",
        classnum: "495",
        semesters: [ "s22" ],
        description: "Common security-relevant bugs in software, including buffer overflows, return-oriented programming, stack smashing, integer overflow, SQL injection, cross-site scripting. Secure development techniques including good programming practice and static analysis.",
      },
      {
        title: "CSC 439/639: Introduction to Compiler Design",
        classnum: "439",
        semesters: [ "f20" ],
        description: "Basic techniques of compiler design and implementation: lexical analysis, parsing, code generation. Sizable programming project implementing a compiler for a block-structured language with strong typing.",
      },
      {
        title: "CSC 656: Foundations of Computer Science",
        classnum: "656",
        semesters: [ "f19" ],
        description: "Introduces the mathematical foundations that support advanced studies in computer science including computer programming and the analysis of algorithms.",
      },
    ]} />

  </div>
</Layout>
