---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page - Stephen R. Tate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <style>
      @media (min-width: 992px) {
        .page-layout {
          display: grid;
          grid-template-areas: "sidebar main";
          grid-template-columns: 1fr 5fr;
          gap: 1.5rem;
        }
        .sidebar {
          position: -webkit-sticky;
          position: sticky;
          top: 5rem;
          display: block !important;
          height: calc(100vh - 6rem);
          padding-left: 0.25rem;
          margin-left: -0.25rem;
          overflow-y: auto;
        }
        .sidelinks {
          padding: 0.5rem 1rem;
          border-radius: 6px;
          margin-top: 0.125rem;
          margin-left: 0.125rem;
          color: var(--bs-body-color);
          text-decoration: none;
        }
        .sidelinks:hover {
          background-color:#ddd;
        }
      }
    </style>
    
    <div class="container-xxl page-layout">
      <aside id="default-sidebar" class="sidebar top-0" aria-label="Sidebar">
        <div class="offcanvas-lg mt-3" tabindex="-1" id="Sidebar">
          <!-- Start initials/name/title -->
          <div
            class="d-flex align-items-start border-bottom pb-4 mb-2"
          >
            <img class="mt-1" src="/img/initials.svg" />
            <div class="ms-2">
              <div class="fs-5">
                Stephen R. Tate
              </div>
              <div class="small"><em>Professor (Retired)</em></div>
              <div class="small"><em>Computer Science</em></div>
            </div>
          </div>
          <!-- End initials/name/title -->
          <!-- Start nav links -->
          <ul class="mt-4 list-unstyled">
            <li class="my-3">
              <a href="/" class="sidelinks">Home</a>
            </li>
            <li class="my-3">
              <a href="/teaching" class="sidelinks">Teaching</a>
            </li>
            <li class="my-3">
              <a href="/research" class="sidelinks">Research</a>
            </li>
            <li class="my-3">
              <a href="/about" class="sidelinks">About</a>
            </li>
          </ul>
          <!-- End nav links -->
        </div>
      </aside>
  
      <main class="order-1">
        <slot />
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>