---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    classnum: string;
    semesters: string[];
    description: string;
  }[];
}
const {listTitle, listItems} = Astro.props
---
<h2 class="text-2xl font-bold mb-6">{listTitle}</h2>
<div class="grid gap-6 mb-12">
  {
    listItems.map((item) => (
      <div class="p-3 bg-base-200 rounded-lg text-base-content">
        <h4 class="text-lg font-semibold mb-1 mt-2">{item.title}</h4>
        <p class="text-sm">Semesters:
        { item.semesters.map((sem) => (
          <>
          &nbsp;<a href={'/classes/'+item.classnum+'.'+sem+'/index.html'}>{((sem[0]=='f')?'Fall':'Spring')+'20'+sem.substring(1)}</a>
          </>
          ))
        }
        </p>
        <p>{item.description}</p>
      </div>
    ))
  }
</div>
