---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    classnum: string;
    semesters: string[];
    description: string;
  }[];
}
const {listTitle, listItems} = Astro.props
---
<h4 class=mt-4>{listTitle}</h4>
<div>
  {
    listItems.map((item) => (
      <div class="p-3 m-3 bg-light rounded">
        <h5 class="mb-1 mt-2">{item.title}</h5>
        <p class="small">Semesters:
        { item.semesters.map((sem) => (
          <>
          &nbsp;<a href={'/classes/'+item.classnum+'.'+sem+'/index.html'}>{((sem[0]=='f')?'Fall':'Spring')+'20'+sem.substring(1)}</a>
          </>
          ))
        }
        </p>
        <p>{item.description}</p>
      </div>
    ))
  }
</div>
